name: multi-env
trigger: none
pool: sagentpool
variables:
  work_dir: '$(System.DefaultWorkingDirectory)/dev'

steps:
- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'init'
    workingDirectory: '$(work_dir)'
    backendServiceArm: 'alok-sc'
    backendAzureRmStorageAccountName: 'yashstorageaccount9872'
    backendAzureRmContainerName: 'newcontainer11'
    backendAzureRmKey: 'multi-env.tfstate'

- task: TerraformTask@5
  inputs:
    provider: 'azurerm'
    command: 'plan'
    workingDirectory: '$(work_dir)'
    environmentServiceNameAzureRM: 'alok-sc'

